#topbar {
	flex: 0 1 auto;
	margin: 0;
	padding: 12px;
	list-style-type: none;
	overflow: hidden;
}

#topbar li {
	float: left;
}

#topbar li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

#topbar li a:hover {
	background-color: #111;
}

#topbar li a.active {
	background-color: #333;
}

#topbar li img {
	display: block;
	transform: translateY(5%);
}

#topbar-left {
	float: left;
}

#topbar-right {
	float: right;
}
