/**
 * SPDX-FileCopyrightText: Sebastiano Barezzi <seba@sebaubuntu.dev>
 * SPDX-License-Identifier: MIT
 */

#main-page {
    display: flex;
    flex-direction: column;
    overflow: auto;
    padding: 16px 16px 0px;
}

/* Posts list */
.posts-list {
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.post-card {
    margin: 0px 16px;
    padding: 10px 20px;
}

.post-card > .info {
    display: flex;
    align-items: center;
}

.post-card > .info > a {
    margin: 0 16px 0 4px;
}

.post-card > .info > img {
    display: inline-block;
    vertical-align: top;
    font-size: 1.375rem;
    fill: white;
    height: 1.15rem;
    width: auto;
    box-sizing: border-box;
}

/* Post viewer */
#post-header {
    margin: 16px;
    padding: 16px 24px;
}

#post-content {
    padding: 0px 24px;
}
