/**
 * SPDX-FileCopyrightText: 2024 Sebastiano Barezzi <seba@sebaubuntu.dev>
 * SPDX-License-Identifier: MIT
 */

@import url("common.css");

/* Posts list */
.post-card {
	background-color: #111111;
	border-radius: 5px;
	padding: 10px 20px;
	margin: 0px 16px;
}

.post-card-info {
	display: flex;
	align-items: center;
}

.post-card-info > a {
	margin: 0 16px 0 4px;
}

.post-card-info > img {
	display: inline-block;
	vertical-align: top;
	font-size: 1.375rem;
	fill: white;
	height: 1.15rem;
	width: auto;
	box-sizing: border-box;
}

/* Post viewer */
#post-header {
	background-color: #111111;
	border-radius: 5px;
	padding: 10px 20px;
}

#post-content {
	padding: 10px 20px;
}
