/**
 * SPDX-FileCopyrightText: Sebastiano Barezzi <seba@sebaubuntu.dev>
 * SPDX-License-Identifier: MIT
 */

#main-page {
    padding: 0px 32px;
}

/* Information dashboard */
.information-dashboard {
    display: flex;
    flex-direction: column;
}

/* Information tab */
.information-tab {
    display: flex;
    flex-direction: column;
    margin: 16px 0px;
    padding: 16px;
}

.information-tab > * {
    margin-bottom: 8px;
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 8px;
}
